<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/img/favicon-32x32.png" width="32" height="32" class="d-inline-block align-top" alt="">
    {{title}}</a>
</nav>

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue à la loterie 2026 de la LHSDB</h1>
    <p class="lead">Classement Actuel:</p>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group">
          <li class="list-group-item list-group-item-dark" *ngFor="let team of actualStandings1">
            {{ team }}
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-dark" *ngFor="let team of actualStandings2">
            {{ team }}
          </li>
        </ul>
      </div>
    </div>

    <div class="my-4">
      <p  [hidden]="draftDone" class="lead">Cliquez sur le bouton pour piger les équipes gagnantes.</p>
      <button [hidden]="draftDone" class="btn btn-primary btn-lg" type="button" (click)="onDraft()">
        Exécuter la pige
      </button>

      <div *ngIf="draftDone">
        <hr class="my-4">
        <p class="lead alert alert-success">Pige exécutée! Voci le nouveau classement:</p>
        <div class="alert alert-dark" *ngFor="let team of displayedResults; index as i">
          <img src="assets/img/logos/{{team | lowercase}}.jpg" width="69" height="35" class="d-inline-block align-top" alt="">
          {{16-i + "- " }} {{team }}
        </div>
        <button [hidden]="displayResultsDone" class="btn btn-primary btn-lg" type="button" (click)="nextTeam()">
          Prochaine position
        </button>
      </div>

      <div *ngIf="displayResultsDone">
        <hr class="my-4">
        <p class="lead alert alert-success">Le résultat de la pige était le suivant:</p>
        <div class="alert alert-primary" *ngFor="let team of results; index as i">
          {{i+1}} {{"- " + team }}
        </div>
      </div>
    </div>
  </div>
